$paddingContainer: 15px;
$paddingContainerDiff: 39px;

$primary: #232427;
$secondary: #5e5c6c;
$secondaryLight: #9998a4;
$neutral: #2962ef;

$breakPoint320: 319.98px;
$breakPoint576: 575.98px;
$breakPoint768: 767.98px;
$breakPoint992: 991.98px;
$breakPoint1200: 1199.98px;
$breakPoint1400: 1399.98px;