.btn {
  color: $neutral;
  padding: 13px 20px;
  text-align: center;
  border-radius: 4px;
  display: inline-block;
  background: #fff;
  font-weight: 400;
}
.btn--primary {
  color: #fff;
  background: $neutral;
}
.btn--header {
}
